<h2><%= @topic.title %></h2>

<%= if @conn.assigns.user do %>
    <div class="input-field">
        <textarea name="" id="" cols="30" rows="10" class="materialize-textarea"></textarea>
        <button class="btn">Add Comment</button>
    </div>
<% end %>

<ul class="comment-list collection">

</ul>

<script>
document.addEventListener('DOMContentLoaded', () => {
    window.createSocket(<%= @topic.id %>)
})
</script>